* {
  border: none;
  font-family: Lato;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}
button {
  display: none;
  heigth: 20px;
  width: 10px;
}
.container {
  line-height: 18px;
  font-size: 14px;
  margin: auto;
  margin-top: 50px;
  height: 400px;
  width: 400px;
}
.text-dis_cont {
  overflow-y: scroll;
  height: 400px;
}
#text {
  opacity: 0;
  -webkit-transition: 1s;
}
.input_cont {
  position: absolute;
  height: 25px;
  width: 400px;
}
.input-prompt {
  -webkit-animation-name: label;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  font-size: 22px;
}
#text_input {
  position: absolute;
  font-size: 13px;
  border-bottom: 1px solid black;
  width: 350px;
  height: 20px;
  padding-left: 10px;
}
@-webkit-keyframes label {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
